body {
    background-color: #999;
    font-family: 'Courier New';
    font-size: 1.1rem;
}

$lightgrey: rgb(224, 224, 224);
$darkgrey: rgb(49, 49, 49);
$black: rgb(20, 20, 20);
$body-bckgrnd: #dbdbd9;
$table-wrapper-bckgrnd: #bdbdb3;
$thead-bckgrnd: #c9c3b1;
$tbody-bckgrnd: #cfcfc4;
$border: rgba(70, 70, 70, 0.65);
$font-color: rgb(24, 24, 24);

$alliedLighter: #f4cccc;
$alliedRed: #ea9999;
$alliedDark: #e066669f;
$alliedDarker: #e06666;

$axisLighter: #cfe2f3;
$axisBlue: #a4c2f4;
$axisDark: #7891bd;
$axisDarker: #4e7bc4;

.registration {
    &-btn {
        font-size: 1.5rem;
        font-weight: bolder;
        border: 1px solid $lightgrey;
    }
}

.grid {
    text-align: left;
    display: flex;
    align-items: center;
    color: $font-color;

    &-card {
        display: block;

        @media (min-width: 992px) {
            display: inline-flex;
        }

    }

    &-header {
        background-color: $thead-bckgrnd;
        border-top-left-radius: 1rem;
        justify-content: center;
        border-top: 1px solid $border;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px dotted $border;

        &-flight {
            border: none;
            font-weight: bold;
        }

        &-plane {
            border: none;
            font-style: italic;
        }
    }

    &-body {
        background-color: $tbody-bckgrnd;
        border-bottom: 1px dotted $border;

        &-name {
            // text-indent: .5rem;
            // font-weight: bold;
            padding: 0 .2rem;
            border-right: 1px solid $border;
        }

        &-number {
            font-weight: bold;
            justify-content: center;
            border-left: 1px solid $border;
        }
    }

    &-last {
        &:last-child {
            .grid {
                &-body {
                    &-name {
                        border-bottom: 1px solid $border;  
                    }
                    &-number {
                        border-bottom: 1px solid $border;  
                    }
                    &-pic {
                        border-bottom: 1px solid $border;  
                    }
                }
            }  
        }
    }
  
}

.hidden-templates {
    display: none;
}

// .highlight {
//     &-green {
//         background-color: #09ff00;
//     }

//     &-red {
//         background-color: rgb(253, 44, 44);
//         color: white;
//     }

//     &-blue {
//         background-color: rgb(0, 204, 255);
//     }

//     &-black {
//         background-color: rgb(37, 37, 37);
//         color: white;
//     }

//     &-purple {
//         background-color: rgb(255, 0, 234);
//         color: white;
//     }
// }

//IDs that only show when necessary
#registration-closed {
    display: none;
}

#roster-updated {
    display: none;
}

#google-form {
    display: none;
}