body {
    background-color: #999;
    font-family: 'Courier New';
    font-size: 1rem;
}

$lightgrey: rgb(224, 224, 224);
$darkgrey: rgb(49, 49, 49);
$black: rgb(20, 20, 20);
$body-bckgrnd: #dbdbd9;
$table-wrapper-bckgrnd: #bdbdb3;
$thead-bckgrnd: #c9c3b1;
$tbody-bckgrnd: #cfcfc4;
$border: rgba(70, 70, 70, 0.65);
$font-color: rgb(24, 24, 24);

$blue: #0087ff1c;
$green: #a8ffa875;
$red: #ff00001c;
$yellow: rgba(255, 255, 181, 0.356);

$alliedLighter: #ff00000d;
$alliedRed: #ea9999;
$alliedDark: #e066669f;
$alliedDarker: #e066664d;

$axisLighter: #0087ff1c;
$axisBlue: #a4c2f4;
$axisDark: #7891bd;
$axisDarker: #4e7bc4;

.registration {
    &-btn {
        font-size: 1.5rem;
        font-weight: bolder;
        border: 1px solid $lightgrey;
    }
}
.blue-background {
    background-color: $blue;
}
.red-background {
    background-color: $red;
}
.team-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.grid {
    text-align: center;
    display: flex;
    align-items: center;
    color: $font-color;

    &-card {
        display: block;

        @media (min-width: 992px) {
            display: inline-flex;
        }

    }

    &-header {
        background-color: $thead-bckgrnd;
        border-top-left-radius: 1rem;
        justify-content: center;
        border-top: 1px solid $border;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px dotted $border;

        &-flight {
            border: none;
            font-weight: bold;
        }

        &-plane {
            border: none;
            font-style: italic;
        }
    }

    &-body {
        background-color: $tbody-bckgrnd;
        border-bottom: 1px dotted $border;

        &-name {
            // text-indent: .5rem;
            // font-weight: bold;
            padding: 0 .2rem;
            border-right: 1px solid $border;
        }

        &-number {
            font-weight: bold;
            justify-content: center;
            border-left: 1px solid $border;
        }
    }

    &-last {
        &:last-child {
            .grid {
                &-body {
                    &-name {
                        border-bottom: 1px solid $border;  
                    }
                    &-number {
                        border-bottom: 1px solid $border;  
                    }
                    &-pic {
                        border-bottom: 1px solid $border;  
                    }
                }
            }  
        }
    }
  
}

.hidden-templates {
    display: none;
}

